.body {
    background-color: #F4F3EE;
}

.topnav {
    background-color: #F4F3EE;
    overflow: hidden;
    text-align: center;
    margin-top: 3%;
    width: 70%;
    height: 100px;
    justify-self: center;
    border-radius: 30px;
    border-color: #454C48;
    border-width: 5px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.topnavtext {
    display: inline-block;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-size: 150%;
    height: 10%;
    font-style: normal;
    font-optical-sizing: auto;
}

.topnav a {
    color: #4E5180;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border-width: 3px;
    border-style: solid transparent;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #4E5180;
    border-color: #454C48;
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    color: #FFEEE6;
    font-weight: bold;
}

.pagecontainer {
    width: 80%;
    justify-self: center;
    background-color: #E7E7E7;
    box-shadow: 1px 1px 1px 1px #494c73;
    border-color: #454C48;
    border-width: 5px;
    border-style: solid;
    border-radius: 40px;
    padding: 8%;
    margin: 80px;
    margin-bottom: 30px;
}

.content {
    line-height: 1.5px;
    max-inline-size: 85%;
    writing-mode: horizontal-tb;
    margin-left: 5%;
    justify-self: center;
}

h1 {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #494c73;
}

h2 {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #494c73;
}

h3 {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #494c73;
}

p {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #F4F3EE;
    color: #494c73;
    margin-top: 5%;
    margin-bottom: 0%;
    border-color: #111116;
    border-width: 5px;
    border-style: solid;
    border-radius: 40px;
    width: 70%;
    justify-self: center;
}